<div class="container">

  <form id="contact" (ngSubmit)="onSubmit()">

      <h3>Prova DBC</h3>
      <h4>Alterar de Cliente</h4>
      
      <fieldset>
        <input type="text" id="nome" name="nome"
          placeholder="Nome Cliente" tabindex="1" [(ngModel)]="cliente.nomeCliente" autofocus />
      </fieldset>

      <fieldset>
        <input type="text" id="rendimentoMensal" (ngModelChange)="atualizarRisco($event)" name="rendimentoMensal" [(ngModel)]="cliente.rendimentoMensal" 
        placeholder="Renda R$" tabindex="2" />
      </fieldset>
      
      <fieldset>
        <input type="text" id="risco" name="risco" [(ngModel)]="cliente.risco" 
        placeholder="Risco" tabindex="3" disabled="disabled" readonly="readonly" />
      </fieldset>
      
      <fieldset>
        <input type="text" id="endereco" name="endereco" [(ngModel)]="cliente.endereco" 
        placeholder="Endereço" tabindex="4" />
      </fieldset>
      
      <fieldset>
        <input id="tipoEspecial" (ngModelChange)="atualizarTipo($event)" type="radio" name="tipoCliente" value="E" [(ngModel)]="cliente.tipoCliente" />
        <label for="tipoEspecial">Especial</label>
        
        <input id="tipoPotencial" (ngModelChange)="atualizarTipo($event)" type="radio" name="tipoCliente" value="P" [(ngModel)]="cliente.tipoCliente" />
        <label for="tipoPotencial">Potencial</label>
        
        <input id="tipoComum" (ngModelChange)="atualizarTipo($event)" type="radio" name="tipoCliente" value="C" [(ngModel)]="cliente.tipoCliente" />
        <label for="tipoComum">Comum</label>
      </fieldset>
      
      <fieldset>
          <div *ngIf="mostrarTipoCliente == 'E'">
            <fieldset>
              <input type="text" id="valorPatrimonio" name="valorPatrimonio" ng-model="valorPatrimonio" 
                            placeholder="Valor Patrimonio" tabindex="6" />
            </fieldset>
          </div>
          
          <div *ngIf="mostrarTipoCliente == 'P'">
            <fieldset>
              <input type="text" id="valorDivida" ng-model="valorDivida" 
                            placeholder="Valor Dívida" tabindex="6" />
            </fieldset>
          </div>

          <div *ngIf="mostrarTipoCliente == 'C'">
            <fieldset>
              <input type="checkbox" id="empregado" ng-model="empregado" tabindex="6" />
              <label for="input-empregado">Está Empregado</label>
            </fieldset>
          </div>
          
      </fieldset>
    
    <fieldset>
        <button id="contact-submit" type="submit" >Salvar</button>
    </fieldset>
  </form>

</div>