<div class="container">
		<div id="contact" class="content" >
		
			<h3>Prova DBC</h3>
      
			<app-navbar></app-navbar>

			<h4>Cadastro de Cliente</h4>
			
			<fieldset>
				<table>
					<thead>
						<tr>
							<th>Código</th>
							<th>Nome</th>
							<th>Renda</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let cliente of clientes">
		
							<td>{{ cliente.codigoCliente }}</td>
							<td>{{ cliente.nomeCliente }}</td>
							<td>{{ cliente.rendimentoMensal}}</td>
		
							<td><a href="simulador/{{cliente.codigoCliente}}">Simular Emprestimo</a></td>
							<td><a href="editar/{{cliente.codigoCliente}}">Editar</a></td>
							<td><a href="#"
								onClick="excluirRegistro(cliente.codigoCliente)">Excluir</a></td>
						</tr>
					</tbody>
				</table>
			</fieldset>
		</div>
		
	</div>